{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}


{% block content %}
    <div class="content-section">
        <form action="" method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend claass="border-bottom mb-4">Delete Posts</legend>
            <h4>Hey, do you wanna delete this post <b>" {{ object.title }} "</b></h4>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Delete</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">Already have an account? <a href="{% url 'blog-home' %}">Go back</a></small>
        </div>
    </div>
{% endblock content %}