{% extends 'admin/adminbase.html' %}
{% block content %}
{% load widget_tweaks %}
{%load static%}
<head>
        <!-- Font special for pages-->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

        <!-- Main CSS-->
    
        <link href="{% static "css/main.css" %}"rel="stylesheet" media="all">
</head>
<div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
    <div class="wrapper wrapper--w790">
      
        <div class="card card-5">
            <div class="card-heading">
                <h2 class="title">Edit Customer's Detail</h2>
            </div>
            <div class="card-body">
                <form method="POST" autocomplete="off" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="form-row">
                        <div class="name">First Name</div>
                        <div class="value">
                            <div class="input-group">
                                {% render_field userForm.first_name|attr:'required:true'  class="input--style-5"  %}
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="name">Last Name</div>
                        <div class="value">
                            <div class="input-group">
                                {% render_field userForm.last_name|attr:'required:true'  class="input--style-5"  %}
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="name">Username</div>
                        <div class="value">
                            <div class="input-group">
                                {% render_field userForm.username|attr:'required:true'  class="input--style-5"  %}
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="name">Password</div>
                        <div class="value">
                            <div class="input-group">
                                {% render_field userForm.password|attr:'required:true'  class="input--style-5"  %}
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="name">Email</div>
                        <div class="value">
                            <div class="input-group">
                                {% render_field customerForm.email|attr:'required:true'  class="input--style-5"  %}
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="name">Address</div>
                        <div class="value">
                            <div class="input-group">
                                {% render_field customerForm.address|attr:'required:true'  class="input--style-5"  %}
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="name">Contact</div>
                        <div class="value">
                            <div class="input-group">
                                {% render_field customerForm.mobile|attr:'required:true'  class="input--style-5"  %}
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="name">Profile Pic</div>
                        <div class="value">
                            <div class="input-group">
                                {% render_field customerForm.profile_pic|attr:'required:true'  class="input--style-5"  %}
                            </div>
                        </div>
                    </div>



                    <div>
                        <button class="btn btn--radius-2 btn-primary btn-block" type="submit">Make Changes</button>
                    </div>
                </form>
                <br>
                

            </div>
        </div>
    </div>
</div>

{% endblock content %}
