{% extends 'customer/base.html' %}

{% block content %}
<div class="container mb-5">
   <div class="row justify-content-center mt-5">
      <div class="col-md-8 col-sm-12 offste-md-1 p-4 text-center">
         <h1>About Us!</h1>
      </div>
   </div>
   <div class="row justify-content-center mt-1">
      <div class="col-md-10 col-sm-12 offset-md-1 p-4 text-center">
         <p>Welcome to our food delivery website, where delicious meals are just a click away! Whether you're craving something spicy, sweet, or savory, we've got you covered with a diverse range of cuisines from around the world. Our mission is to deliver not only scrumptious food but also convenience, quality, and affordability straight to your doorstep. So sit back, relax, and let us bring the flavors of your favorite restaurants right to your home. Are you ready to indulge in a culinary adventure? Let's get started!</p>
      </div>
   </div>
</div>

{% endblock content %}