{% extends 'customer/base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6 col-sm-12 text-center">
            <h1>What's On Our Menu?</h1>
        </div>
    </div>

    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 text-center">
            <form method="GET" action="{% url 'menu-search' %}">
                <div class="md-form mt-0 active-cyan-2">
                    <input class="form-control" name="q" type="text" placeholder="Search Our Menu" aria-label="Search" value="{{ request.GET.q }}">
                </div>
            </form>
        </div>
    </div>
<br>
    <div class="row justify-content-center">
        {% for item in menu_items %}
        <div class="col-md-4 col-sm-12 text-center mb-5">
            <img class="rounded" src="{{ item.image.url }}" width="350" height="300">
            <h5 class="mt-3">{{ item.name }}</h5>
            <p>Price: {{ item.price }}</p>
            <p>{{ item.description }}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}