{% extends 'customer/base.html' %}

{% block content %}

<div class="container mb-5">
    <div class="row justify-content-center mt-1">
        <div class="col-md-12 col-sm-12 p-4">
            <form method="POST">
                {% csrf_token %}
                <div class="pt-5">
                    {% for app in maindish %}
                    <div class="row">
                        <div class="col-md-2 col-sm-12">
                            <img class="rounded" src="{{ app.image.url }}" width="150" height="150"/>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="d-flex flex-row">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="items[]" class="form-check-input" value="{{ app.pk }}">
                                    <label class="form-check-label">{{ app.name }}</label>
                                </div>
                                <p class="font-weight-bold pl-5">{{ app.price }}</p>
                            </div>
                            <p>{{ app.description }}</p>
                        </div>
                    </div>
                    <hr />
                {% endfor %}
                </div>

                <div class="pt-5">
                    {% for pas in pasta %}
                    <div class="row mt-4">
                        <div class="col-md-2 col-sm-12">
                            <img class="rounded" src="{{ pas.image.url }}" width="150" height="150"/>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="d-flex flex-row">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="items[]" class="form-check-input" value="{{ pas.pk }}">
                                    <label class="form-check-label">{{ pas.name }}</label>
                                </div>
                                <p class="font-weight-bold pl-5">{{ pas.price }}</p>
                            </div>
                            <p>{{ pas.description }}</p>
                        </div>
                    </div>
                    <hr />
                    {% endfor %}
                </div>

                <div class="pt-5">
                    {% for ac in asianclassic %}
                    <div class="row mt-4">
                        <div class="col-md-2 col-sm-12">
                            <img class="rounded" src="{{ ac.image.url }}" width="150" height="150"/>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="d-flex flex-row">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="items[]" class="form-check-input" value="{{ ac.pk }}">
                                    <label class="form-check-label">{{ ac.name }}</label>
                                </div>
                                <p class="font-weight-bold pl-5">{{ ac.price }}</p>
                            </div>
                            <p>{{ ac.description }}</p>
                        </div>
                    </div>
                    <hr />
                    {% endfor %}
                </div>

                <div class="pt-5">
                    {% for wes in western %}
                    <div class="row mt-4">
                        <div class="col-md-2 col-sm-12">
                            <img class="rounded" src="{{ wes.image.url }}" width="150" height="150"/>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="d-flex flex-row">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="items[]" class="form-check-input" value="{{ wes.pk }}">
                                    <label class="form-check-label">{{ wes.name }}</label>
                                </div>
                                <p class="font-weight-bold pl-5">{{ wes.price }}</p>
                            </div>
                            <p>{{ wes.description }}</p>
                        </div>
                    </div>
                    <hr />
                    {% endfor %}
                </div>

                <div class="pt-5">
                    {% for drink in drinks %}
                    <div class="row mt-4">
                        <div class="col-md-2 col-sm-12">
                            <img class="rounded" src="{{ drink.image.url }}" width="150" height="150"/>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="d-flex flex-row">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="items[]" class="form-check-input" value="{{ drink.pk }}">
                                    <label class="form-check-label">{{ drink.name }}</label>
                                </div>
                                <p class="font-weight-bold pl-5">{{ drink.price }}</p>
                            </div>
                            <p>{{ drink.description }}</p>
                        </div>
                    </div>
                    <hr />
                    {% endfor %}
                </div>

                <div class="pt-5">
                    {% for des in dessert %}
                    <div class="row mt-4">
                        <div class="col-md-2 col-sm-12">
                            <img class="rounded" src="{{ des.image.url }}" width="150" height="150"/>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="d-flex flex-row">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="items[]" class="form-check-input" value="{{ des.pk }}">
                                    <label class="form-check-label">{{ des.name }}</label>
                                </div>
                                <p class="font-weight-bold pl-5">{{ des.price }}</p>
                            </div>
                            <p>{{ des.description }}</p>
                        </div>
                    </div>
                    <hr />
                    {% endfor %}
                </div>

                <div class="form-group pt-3">
                    <label for="name">Full Name</label>
                    <input required class="form-control" type="text" placeholder="Your Name" name="name" />
                </div>  

                <div class="form-group pt-3">
                    <label for="name">Email Address</label>
                    <input required class="form-control" type="text" placeholder="example@gmail.com" name="email" />
                </div>  

                <div class="form-group pt-3">
                    <label for="name">Street Address</label>
                    <input required class="form-control" type="text" placeholder="1234 Main St" name="street" />
                </div>  

                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <div class="form-group pt-3">
                            <label for="name">City</label>
                            <input required class="form-control" type="text" placeholder="San Francisco" name="city" />
                        </div> 
                    </div> 

                    <div class="col-md-4 col-sm-12">
                        <div class="form-group pt-3">
                            <label for="name">State</label>
                            <input required class="form-control" type="text" placeholder="Ca" name="state" />
                        </div>  
                    </div>

                    <div class="col-md-4 col-sm-12">
                        <div class="form-group pt-3">
                            <label for="name">Zip Code</label>
                            <input required class="form-control" type="text" placeholder="94117" name="zip" />
                        </div>  
                    </div>
                </div>

                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#submitModal">
                            Submit Order
                        </button>

                <!--<button class="btn btn-dark mt-5">Place Order!</button>-->

                <!-- Modal a-->
                        <div class="modal fade" id="submitModal" tabindex="-1" role="dialog" aria-labelledby="submitModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="submitModalLabel">Submit your order!</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                
                                <div class="modal-footer">
                                <button type="button" class="btn btn-light" data-dismiss="modal">Keep Browsing</button>
                                <button type="submit" class="btn btn-dark">Place Order</button>
                                </div>
                            </div>
                            </div>
                        </div>

            </form>
        </div>
    </div>
</div>
{% endblock content %}