{% extends "base.html" %}

{% block title %}
  {% if object %}
    Edit content "{{ object.title }}"
  {% else %}
    Add new content
  {% endif %}
{% endblock %}

{% block content %}

  <div  class="content" style="min-height:0px !important; padding: 158px 30px 30px 300px;">
    <h1>
      {% if object %}
        Edit content "{{ object.title }}"
      {% else %}
        Add new content
      {% endif %}
    </h1>
    <h2>Course info</h2>
    <form action="" method="post" enctype="multipart/form-data">
      {{ form.as_p }}
      {% csrf_token %}
      <p><input type="submit" value="Save content"></p>
    </form>
  </div>
{% endblock %}
