{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}Gadgeteen{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="header">
      <a href="/" class="logo">Gadgeteen</a>
      <ul class="menu" style="float:left !important;margin-left:50px;">
        
        {% for group in  request.user.groups.all %}
        {% if request.user.is_authenticated and 'student' == group.name %}
        <li style='display:inline-block !important; margin-right:20px;'><a href="/">Home</a></li>
        <li style='display:inline-block !important; margin-right:20px;'><a href="/course/student">My Courses</a></li>
        {% else %}
        <li style='display:inline-block !important; margin-right:20px;'><a href="/">Home</a></li>
        {% endif %}
        {% endfor %}
      </ul>
      <ul class="menu">
        {% if request.user.is_authenticated %}
          <li><a href="{% url "logout" %}">Sign out</a></li>
        {% else %}
          <li><a href="{% url "login" %}">Sign in</a></li>
        {% endif %}
      </ul>
    </div>
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>
    {% block include_js %}
    {% endblock %}
    <script>
      document.addEventListener('DOMContentLoaded', (event) => {
        // DOM loaded
        {% block domready %}
        {% endblock %}
      })
    </script>
  </body>
</html>
