{% load i18n static admin_black %}
<ul class="nav">
  <li class="{% if 'dashboard' in segment %} active {% endif %}">
    <div class="content" style="min-height:0px !important;">
        <h3 style="text-align:center;">Subjects</h3>
        <ul id="modules">
          <li {% if not subject %}class="selected"{% endif %}>
            <a href="{% url "course_list" %}">All</a>
          </li>
          {% for s in subjects %}
            <li {% if subject == s %}class="selected"{% endif %}>
              <a href="{% url "course_list_subject" s.slug %}">
                {{ s.title }}
                <br>
                <span>{{ s.total_courses }} course{{ s.total_courses|pluralize }}</span>
              </a>
            </li>
          {% endfor %}
        </ul>
    </div>
  </li>
  {% if not request.user.is_authenticated %}
  <li class="{% if 'pages' in parent %}active{% endif %}">
    <a data-toggle="collapse" href="#pagesExamples">
      <i class="tim-icons icon-lock-circle"></i>
      <p>
        Authentication
        <b class="caret"></b>
      </p>
    </a>
  </li>
  {% endif %}
</ul>