{% extends 'restaurant/base.html' %}

{% block content %}
<div class= "container">
    <div class = "row justify-content-center">
        <div class = "col-md-6 col-sm-12 text-center mt-3">
            <h1>Order ID: {{ order.pk }}</h1>
        </div>
    </div>

    <div class= "row justify-content-center">
        <div class= "col-md-12 com-sm-12 mt-5">
            <h3>Customer Information:</h3>
        </div>
    </div>

    <div class= "row justify-content-center">
        <div class= "col-md-6 com-sm-12 mt-5">
            <p><span style="font-weight: 400;">Name:</span> {{ order.name }}</p>
            <p><span style="font-weight: 400;">Email:</span> {{ order.email }}</p>
            <h5 class="pt-3">Address Information:</h5>
            <p><span style="font-weight: 400;">Street:</span> {{ order.street }}</p>
            <p><span style="font-weight: 400;">City:</span> {{ order.city }}</p>
            <p><span style="font-weight: 400;">State:</span> {{ order.state }}</p>
            <p><span style="font-weight: 400;">Zip Code:</span> {{ order.zip_code }}</p>
        </div>

        <div class= "col-md-6 col-sm-12">
            <h5>Payment and Shipping Information</h5>
            <p class= "mt-3">{% if order.is_paid %}
                <p><i style="color: green;" class= "fas fa-check"></i><span class= "pl-2">Order Has Been Paid!</span></p>
                {% else %}
                <p><i style="color: red;" class= "fas fa-times"></i><span class= "pl-2">Order Has Not Been Paid</span></p>
                {% endif %}</p>
                
                {% if order.is_shipped %}
                <p><i style="color: green;" class= "fas fa-check"></i><span class= "pl-2">Order Has Been Shipped!</span></p>
                {% else %}
                <form method= "POST">
                    {% csrf_token %}
                    <button type= "submit" class= "btn btn-outline-success">Mark as Shipped</button>
                </form>
                {% endif %}
        </div>


    </div>


</div>
            
{% endblock content %}