<nav class="navbar navbar-top navbar-expand navbar-dark bg-primary border-bottom">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <a class ="nav-link" href="{% url 'shop:home' %}" style="color:white">
          <i class="ni ni-shop"></i><span>&nbspRG Konbini</span>&nbsp&nbsp
        </a>
        <!-- Search form -->
        <form class="navbar-search navbar-search-light form-inline mr-sm-3" id="navbar-search-main" action="{% url 'shop:search' %}", method="post">
          {% csrf_token %}
          <div class="form-group mb-0">
            <div class="input-group input-group-alternative input-group-merge">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-search"></i></span>
              </div>
              <input class="form-control" placeholder="Search" name="search" type="text">
            </div>
          </div>
          <button type="button" class="close" data-action="search-close" data-target="#navbar-search-main" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </form>
        <!-- Navbar links -->
        <ul class="navbar-nav align-items-center  ml-md-auto ">
          <li class="nav-item d-sm-none">
            <a class="nav-link" href="#" data-action="search-show" data-target="#navbar-search-main">
              <i class="ni ni-zoom-split-in"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}" role="button" >
              <i class="ni ni-cart"></i>
              Login
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}" role="button" >
              <i class="ni ni-single-02"></i>
              Register
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>