<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
  <div class="scrollbar-inner">
    <!-- Brand -->
    <div class="sidenav-header  align-items-center">
      <a class="navbar-brand" href="{% url "shop:seller" %}">
        <h1><i class="ni ni-shop"></i>&nbspShop</h1>
      </a>
    </div>
    <div class="navbar-inner">
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Nav items -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link {% if 'index' in segment %} active {% endif %}" href="{% url "shop:seller" %}">
              <i class="ni ni-tv-2 text-primary"></i>
              <span class="nav-link-text">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'category_list' in segment %} active {% endif %}" href="{% url "shop:category_list" %}">
              <i class="ni ni-tag text-primary"></i>
              <span class="nav-link-text">Categories</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'product_list' in segment %} active {% endif %}" href="{% url "shop:product_list" %}">
              <i class="ni ni-bullet-list-67 text-default"></i>
              <span class="nav-link-text">Products</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'order' in segment %} active {% endif %}" href="{% url "shop:order_list" %}">
              <i class="ni ni-collection text-blue"></i>
              <span class="nav-link-text">Orders</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'order' in segment %} active {% endif %}" href="{% url 'shop:customers' %}">
              <i class="ni ni-collection text-blue"></i>
              <span class="nav-link-text">Customers</span>
            </a>
          </li>
       
        </ul>
        <!-- Divider -->
        <hr class="my-3">
        <!-- Heading -->
        <h6 class="navbar-heading p-0 text-muted">
          <span class="docs-normal">Account</span>
        </h6>
        <!-- Navigation -->
        <ul class="navbar-nav mb-md-3">

          <li class="nav-item">
            <a class="nav-link" href="{% url 'shop:profile' %}">
              <i class="ni ni-single-02 text-red"></i>
              <span class="nav-link-text">Profile</span>
            </a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">
              <i class="ni ni-user-run text-red"></i>
              <span class="nav-link-text">Logout</span>
            </a>
          </li>    
        </ul>
      </div>
    </div>
  </div>
</nav>