{% extends 'blog/base.html' %}
{% block content %}
{% load crispy_forms_tags %}

    <!--    <link rel="stylesheet" href="main.css">-->

    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <div class="cardd">
      <!-- <img src="img.jpg" alt="John" style="width:100%"> -->
      <div class="m-b-25"> <img class="rounded-circle account-img" id="profile-img" src="{{ user.profile.image.url }}" class="img-radius" alt="User-Profile-Image"> </div>

      <h1 id="profile-h1">{{user.username|title}}</h1>
      <p class="title">{{user.email}}</p>
      <!-- <p>My Social Live  Below</p> -->
      <a href="#" id="auth-links"><i class="fa fa-dribbble"></i></a>
      <a href="#" id="auth-links"><i class="fa fa-twitter"></i></a>
      <a href="#" id="auth-links"><i class="fa fa-linkedin"></i></a>
      <a href="#" id="auth-links"><i class="fa fa-facebook"></i></a>

        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
<!--                <legend class="border-bottom mb-4">Join Today</legend>-->
                {{ u_form|crispy }}
                {{ p_form|crispy }}
            </fieldset>
<!--            <div class="form-group">-->
<!--                <button class="btn btn-outline-info" type="submit">Update Profile</button>-->
<!--            </div>-->
        </form>

      <p><button id="btn-profile"><a href="{% url 'profile-update' %}" id="auth-links">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Update Profile
    </a></button></p>
    </div>
{% endblock content %}