{% load static %}
<!doctype html>
<html lang="en">


  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous" defer></script>


    <style>
        
            body {
              background-color: lightgray;
            }

            .footer {
                position: fixed;
                left: 0;
                bottom: 0;
                width: 100%;
                color: white;
                text-align: center;
             }

             
             .navbar-nav .nav-link {
                font-family: Helvetica,Helvetica,Arial,sans-serif
                font-size: 48px;
                font-weight: 400;
            }
          
          
    </style>   
    {% block head %}
    {% endblock %}
  </head>

  <body>  
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand cHover cGreen fs-2" href="{% url 'index' %}">
                    CodeX
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 fs-5">
                        <li class="nav-item">
                            <a class="nav-link active cHover" aria-current="page" href="{% url 'index' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active cHover" href="#contact">Contact Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active cHover" href="{% url 'service' %}">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active cHover" href="{% url 'booking' %}">Book</a>
                        </li>
                    </ul>
                    {% if user.is_authenticated %}
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active cHover" href="{% url 'bookingList' %}">Appointment List</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active cHover" href="{% url 'userPanel' %}">User View</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active cHover" href="{% url 'logout' %}">Sign Out</a>
                        </li>
                    </ul>
                    {% else %}
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item me-3">
                            <a class="nav-link active cHover" href="{% url 'register' %}">Sign Up</a>
                        </li>
                        <li class="nav-item me-3">
                            <a class="nav-link active cHover" href="{% url 'login' %}">Sign In</a>
                        </li>
                    </ul>
                    {% endif %}
                </div>
            </div>
        </nav>
    </header>
</body>




    {% block body %}
    {% endblock %}

    <footer class="bg-dark text-white">
        <div class="container-fluid pt-3">
            <section class="">
                <div class="container text-center text-md-start mt-5">
                 
                  <div class="row mt-3 text-center">
            
                   
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        
                        <h5 class="text-uppercase fw-bold mb-4 textGradient"  id="contact">
                            Contact Us
                        </h5>
                        <p>
                            <a href="tel: 12345678" class=""><span class="text-white">01112345678</span></a>
                        </p>
                        <p>
                            <a href="tel: codex@gmail.com" class=""><span class="text-white">codex@gmail.com</span></a>
                        </p>
                        <p>
                            <a class="text-white" href="{% url 'booking' %}" >Online Booking</a>
                        </p>
                    </div>
                    
                  </div>
                  
                </div>
              </section>
        </div>
    </footer>

  
</html>